.loaderContainer {

    .loader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        z-index: 9999;
    
        .spinner {
            width: 10rem;
            height: auto;
        }
    
    }

}

@keyframes slide-up {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}