.buttonFlexible{

    .buttonCrear{

        outline: none;
        border: 0;
        width: 8rem;
        height: 2rem;
        border-radius: 4rem;
    
    }

}

.flexWhite{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

}

.buttonEnlace {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.containerLogo{

    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    color: 	#D4AF37;

    .logoChampionpedia{

        display: flex;
        align-items: center;
        width: 14rem;
    
    }

}

.navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background-color: #35363c;
    color: #ffff;
}

.navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.733);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
}


.navbar-burger {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    padding: 0;
}

.navbar-title {
    margin: 0;
    font-size: 16px;
}

.navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #111;
    color: #ffff;
    visibility: hidden;
    transition: translate 0.3s;

}

body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
}

.navbar-menu>.buttonBurger {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
}

.containerSearch{

    display: none;

    .flexInput{

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .search__input{

        outline: none;
        border-color: rgb(192, 192, 192);
        border-style: solid;
        border-width: 1.5px;
        height: 1.5rem;
        padding: 1rem;
        border-radius: .5rem;
        transition: .3s border-color;


    }

}

.inputBurger{

    outline: none;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 1.5px;
    height: 1.5rem;
    padding: 1rem;
    border-radius: .5rem;
    transition: .3s border-color;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.linksWhite {

    display: flex;
    justify-content: center;
    width: 100%;

    .padreWhite {

        display: flex;
        justify-content: center;
        align-items: center;
        

        .linksHide {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            gap: 1.2rem;

            div>* {

                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                color: black;
                border-radius: 1rem;
                padding: .4rem 1rem;
                transition: color .3s ease, background-color .3s ease;
                border: .1px solid grey;
                cursor: pointer;

                &:hover {

                    color: black;
                    background-color: white;

                }

            }


        }

    }

}


//medias queries

@media only screen and (min-width: 672px) {

    .buttonFlexible{

        display: flex;
        padding-right: 2rem;

    }

    .buttonFlexible{

        display: flex;

    }

    .linksWhite{

        display: none;

    }
    
    .navbar-overlay {
        display: none;
    }
}

@media only screen and (min-width: 671px) {

    .buttonFlexible{

        padding-right: 2rem;

    }


    .inputBurger{

        display: none;

    }

    .navbar-menu {
        position: static;
        translate: 0 0;
        width: auto;
        background: transparent;
        flex-direction: row;
        visibility: visible;
    }

    .navbar {
        justify-content: space-between;
    }

    .containerSearch{

        display: flex;

    }

    .navbar-burger {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    .buttonFlexible{

        padding-right: 2rem;

    }


    .search__input{

        width: 20rem;

    }
    

}

@media only screen and (min-width: 1024px) {

    .buttonFlexible{

        padding-right: 2rem;

    }

    .search__input{

        width: 35rem;

    }

}

@media only screen and (min-width: 1280px) {

    .buttonFlexible{

        padding-right: 2rem;

    }

    .inputSearch{

        display: none;

    }

    .search__input{

        width: 40rem;

    }

}