@use '../../scss/partials/variables' as *;

/* estilos vista create artice */

.AppContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;

    .formularioCategorias {
        background-color: #edeff4;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 66px;

        .flexInputs {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;

            .flexUbicar {

                .containerCategoria {

                    margin: 0;

                    .labelCategoria {

                        color: #151515

                    }

                    .selectCat {

                        border: 1px solid #a0a2a9;
                        outline: none;
                        width: 10rem;
                        border-radius: .7rem;
                        background-color: #ffffff

                    }

                }


            }


        }

        .joditEditor {
            margin-top: 0;
            color: black;

        }

        .moverInputs {

            .moverButtons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                .agregarArticulo {
                    border-radius: 8px;
                    border: 1px solid transparent;
                    padding: 0.6em 1.2em;
                    font-size: 1em;
                    font-weight: 500;
                    font-family: inherit;
                    background-color: $botonCancelar;
                    cursor: pointer;
                    transition: border-color 0.25s;
                    color: white;
                }

                .agregarArticulo:hover {
                    border-color: #ffff;
                }

                .agregarArticulo:focus,
                .agregarArticulo:focus-visible {
                    outline: 4px auto -webkit-focus-ring-color;
                }

                .botonLink {

                    color: white;
                    background-color: $botonAceptar;

                }

            }

        }

    }

}

.quill-editor iframe {
    pointer-events: none;
}