.containerFooter {

    background-color: hsl(231, 6%, 22%);
    padding: 1rem;

    .containerFooter__logo{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hijoLogo{

            flex-direction: column;

            .logoChampion{

                width: 100%;
                object-fit: scale-down;

            }

        }

        .containerEnlaces{

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            color: white;

        }

        .buscadorContainer{

            .hijoBuscador{

                display: flex;
                justify-content: center;
                margin-top: 1rem;

                .inputBurgerr{

                    width: 100%;
                    border: none;
                    border-radius: 1rem;
                    padding: .5rem 1rem;
                    outline: none;
                    background-color: white;
                    border: 1px solid white;


                }

            }

        }

        .socialContainer{

            .hijoSocial{

                display: flex;
                justify-content: center;
                gap: 1rem;

                .iconSocial{

                    width: 1.5rem;
                    height: 1.5rem;

                }


            }

        }

    }

}

@media(min-width: 320px){

    .logoChampion{

        max-width: 320px;

    }

    .inputBurgerr{

        max-width: 480px;

    }

}

@media(min-width: 1024px){


    .containerFooter{

        .containerFooter__logo{

            flex-direction: row;
            justify-content: space-between;
            gap: 3rem;

            .containerEnlaces{

                flex-direction: row;
                padding: 1rem;

            }

            .buscadorContainer{

                
                flex-direction: column;
    
            }

            .buscadorContainer{

                .hijoBuscador{
    
                    .inputBurgerr{
    
                        width: 100%;
                
                    }
    
                }
    
            }

        }


    }
    

}