//extend para ViewArticle
%titulo {

    text-align: center;

}

%parrafoView {

    font-size: .8rem;
    text-align: justify;
    line-height: 1rem;
    word-break: keep-all;

}

.containerView {

    &-titulo {

        @extend %titulo;

    }

    .descripcionView {


        .parrafoView {

            @extend %parrafoView;


        }

    }

    .jugadorContainer {
        
        .imagen__jugadorFlex{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #bdbdbd;
            padding: .5rem;
            height: 100%;
            width: 100%;
        }

        .datosPersonales{
    
            text-align: center;
    
        }

        .dataOf {
            width: 100%;
            border: 1px solid #bdbdbd;
            padding: .5rem .5rem .5rem 1rem;
            margin: .5rem 0 0;
            font-weight: 600;
            font-size: 1.2rem;
            text-align: center;
        }

        .parrafosPersonales{

            line-height: 1.4rem;
            text-align: left;
            font-size: 1rem;

            .spanParrafo{

                font-weight: 700;

            }


        }

    }


}