//extend para ViewArticle
%titulo {

    text-align: center;

}

%parrafoView {

    font-size: .8rem;
    text-align: justify;
    line-height: 1rem;
    word-break: keep-all;

}

.containerView {

    &-titulo {

        @extend %titulo;

    }

    .descripcionView {


        .parrafoView {

            @extend %parrafoView;


        }

    }

    .jugadorContainer {
        
        .imagen__jugadorFlex{

            display: flex;
            justify-content: center;
            align-items: center;

        }


        .datosPersonales{
    
            text-align: center;
    
        }

        .parrafosPersonales{

            line-height: 1.4rem;
            text-align: left;
            font-size: 1rem;

            .spanParrafo{

                font-weight: 700;

            }


        }

    }


}