.containerCategories {

    padding: 1rem;

    .hijoCategories {

        .containerTitle {

            .titleCategories {

                font-weight: bolder;
                font-size: 1.3rem;
                text-align: left;
                background-image: linear-gradient(to right, #E17E7E 65%, transparent 50%);
                background-position: bottom;
                background-size: 100% 3px;
                background-repeat: no-repeat;
                display: inline-block;
                padding-bottom: .3rem;
                margin-bottom: 1rem;

            }

        }

        .containerSlider {

            .spinnerContainer {

                display: flex;
                justify-content: center;

            }

            .swiper-slide {

                display: flex;
                justify-content: center;

            }

            .containerCard__slider {

                .hijoCards {

                    width: 100%;
                    border: 1px solid #9b9b9b;
                    border-radius: 0.75rem;

                    .contentCard {

                        padding: 1rem;

                        .titleCard {

                            font-size: 1.5rem;
                            font-weight: bolder;

                        }

                        .descriptionCard {

                            margin-top: 1.6rem;

                        }

                    }

                }

            }

        }

    }

    .hijoLeido {

        .tituloLeido {

            margin-top: 1rem;
            font-weight: bolder;
            font-size: 1.3rem;
            text-align: left;
            background-image: linear-gradient(to right, #E17E7E 100%, transparent 50%);
            background-position: bottom;
            background-size: 100% 3px;
            background-repeat: no-repeat;
            display: inline-block;
            padding-bottom: .3rem;
            margin-bottom: 1rem;

        }

    }

    .containerLeido {

        display: grid;
        place-items: center;

        .containerCard__leido {

            display: grid;
            place-content: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            width: 100%;

            gap: 1.5rem;

            .card__leido {

                border: 1px solid #CAC4D0;
                width: 100%;
                border-radius: 0.75rem;
                padding: 1rem;

                .imagenLeido {

                    .cardImage-leido {
                        height: 8rem;
                        object-fit: cover;

                    }

                }

                .containerTitle {

                    display: flex;
                    justify-content: flex-start;

                    .tituloLeido {
                        text-align: start;
                        margin: .5rem 0 0;
                        text-decoration: underline;
                        font-weight: bolder;
                        width: 100%;

                    }

                }

            }

        }

    }

    .containerPaginacion {

        .hijoPaginacion {

            .ulPaginacion {

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding-left: 0;
                margin-top: 1rem;

                .prev {

                    cursor: pointer;
                
                }

                .next {

                    cursor: pointer;

                }

            }

        }

    }

}

.swiper-pagination-bullet {

    background-color: #787878;

}



@media screen and (min-width: 26.5em) {

    .containerCategories {

        .hijoCategories {

            .containerSlider {

                .containerCard__slider {

                    .hijoCards {

                        max-width: 26.5em;

                    }

                }

            }

        }

        .containerLeido {

            .containerCard__leido {

                width: 24rem;

            }

        }

    }

}

@media screen and (min-width: 48em) {

    .containerCategories {

        .containerLeido {

            .containerCard__leido {

                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                padding-left: 0;

                .card__leido {
                    width: 11.25rem;
                }

            }

        }

    }

}


@media screen and (min-width: 64em) {

    .containerCategories {

        .hijoCategories {

            .containerSlider {

                .contenedorSwiper {

                    .containerCard__slider {

                        .hijoCards {

                            max-width: none;
                            width: 20rem;

                        }

                    }

                }

            }

        }

        .containerLeido {

            .containerCard__leido {

                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

            }

        }

    }

}

@media screen and (min-width: 78em) {

    .containerCategories {

        .containerLeido {

            .containerCard__leido {

                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            }

        }

    }

}

@media screen and (min-width: 80em) {

    .containerSlider {
        max-width: 80em;
        margin: auto;
    }

    .hijoLeido,
    .containerTitle {
        margin: auto;
        max-width: 80em;
    }

}