.containerJugadores {

    .flexJugadores {

        display: flex;

        .inputs-second{

            .inputFile::-webkit-file-upload-button{
                
                background-color: #333333;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 5px 15px;
                cursor: pointer;
                font-size: 1rem;                
                text-align: center;
                transition: all .3s ease;
                &:hover{
                    letter-spacing: .1rem;
                }

            }

        }

    }

}