.containerJugadores {

    .flexJugadores {

        display: flex;

        .inputs-second{

            .inputFile::-webkit-file-upload-button{
                
                background-color: #333333;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 5px 15px;
                cursor: pointer;
                font-size: 1rem;                
                text-align: center;
                transition: all .3s ease;
                &:hover{
                    letter-spacing: .1rem;
                }

            }

        }

    }

}

.containerDate{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    position: relative;

    .inputFunction{

        width: 100%;

    }

    .iconReload{

        cursor: pointer;
        position: absolute;
        top: 18px;
        right: 0;
        transform: translateY(-50%);
        margin-right: 30px;
        width: 20px;

    }

}