//mixin inputs Trophies

@mixin inputsTrophies {



    
    border: 1px solid #a0a2a9;
    border-radius: .7rem;
    outline: none;/* 
    height: 30px; */



}

.inputsTrophies {

    @include inputsTrophies();

}