//each inputs players

$inputPlayers:(

    border: 1px solid #A0A2A9,
    outline: none,
    border-radius: .7rem,

);

.inputJugadores{
    border: map-get($inputPlayers, border);
    outline: map-get($inputPlayers, outline);
    border-radius: map-get($inputPlayers , border-radius );
    

}

//each inputs Team

@each $teams in inputs {

    .#{$teams}__team {

        border: none;
        outline: none;
        border-radius: .4rem;


    }

}
